services:
  prusaslicer-base:
    build:
      context: prusaslicer-base/
      args:
        PRUSASLICER_TAG: 'version_2.9.4'
  prusaslicer-web:
    build:
       context: prusaslicer-web/
       additional_contexts:
         prusaslicer_base: 'service:prusaslicer-base'
    ports:
      - '8077:8080'
  prusaslicer-web-amd:
    image: docker-prusaslicer-web
    environment:
      - ENABLEHWGPU=true
      - VGL_DISPLAY=/dev/dri/card1
    devices:
      - /dev/dri:/dev/dri
      - /dev/kfd:/dev/kfd
    ports:
      - '8077:8080'
