services:
  prusaslicer-web:
    image: prusaslicer-web:dev
    pull_policy: never
    ports:
      - '8077:8080'
  prusaslicer-web-amd:
    image: prusaslicer-web:dev
    pull_policy: never
    environment:
      ENABLEHWGPU: 'true'
    devices:
      - /dev/dri/card1:/dev/dri/card1
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/kfd:/dev/kfd
    ports:
      - '8077:8080'
  prusaslicer-web-nvidia:
    image: prusaslicer-web:dev
    pull_policy: never
    environment:
      ENABLEHWGPU: 'true'
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - '8077:8080'
